.main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 94px;
  
    @media(max-width: 480px) {
      padding-inline: 12px; /* Возможно, заменить на padding-left и padding-right */
      padding-top: 103px;
    }
  
    .title {
      color: #677179;
      text-align: center;
      font-size: 30px;
      font-family: 'Roboto-Bold';
      font-weight: 700;
      margin: 0;
      margin-bottom: 25px;
  
      @media(max-width: 480px) {
        max-width: 290px; /* Уточнение максимальной ширины на мобильных устройствах */
      }
    }
  }
  