.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 25px;
  max-width: 1140px;
  width: 100%;

  @media screen and (max-width: 480px) {
    padding-inline: 12px;
}
  

  .title {
    color: #677179;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    margin-bottom: 25px;
  }

  .channel_section {
    margin-top: 25px;
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    @media screen and (max-width: 480px) {
      padding: 0;
      margin-bottom: 15px;
  }
    .subtitle {
      color: #677179;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 12px;
    }
  }
}
