.embla {
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(154, 161, 171, 0.2);

    @media screen and (max-width: 576px) {
        margin-bottom: 15px;
      }

    &__container {
        display: flex;
    }

    &__slide {
        flex: 0 0 100%;
        margin-right: 10px;
        box-shadow: 0 0 10px 0 rgba(154, 161, 171, 0.2);
    }
}