.card {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #DEE2E4;
    background: #FFF;
    align-items: center;
    transition: all .3s;
    max-width: 366px;
    max-height: 120px;
    text-decoration: none;

    &:hover {
        border-color: rgb(97, 97, 97);
        transition: all .3s;
        cursor: pointer;
    }

    &:hover .title {
        color: rgb(97, 97, 97);
        transition: all .3s;
        cursor: pointer;
    }


    .image {
        border-radius: 89px;
        border: 1px solid #DEE2E4;
        padding: 3px;
        transition: all .3s;
        object-fit: cover;
    }
}

.container {
    color: #677179;
    font-size: 10px;
    font-weight: 300;

    .title {
        font-family: 'Roboto-Bold';
        color: #677179;
        font-size: clamp(0.875rem, 0.815rem + 0.27vw, 1rem);
        font-weight: 700;
        line-height: 16px;
        margin: 0;
        margin-bottom: 8px;
        transition: all .3s;
        white-space: nowrap;
        overflow: hidden;
        max-width: 212px;
        text-overflow: ellipsis;
        max-width: 233px;

    }

    .subtitle {
        font-family: 'Roboto-Light';
        color: #788189;
        font-size: clamp(0.75rem, 0.72rem + 0.13vw, 0.813rem);
        font-weight: 300;
        margin: 0;
margin-bottom: 10px;
        max-width: 250px;
        max-height: clamp(2.25rem, 2.20rem + 0.4vw, 2.88rem);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
        max-width: 233px;

    }

    .count {
        color: #677179;
        font-size: 10px;
        font-weight: 700;
        margin-right: 2px;
    }
}