.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    max-width: 1110px;
    margin: auto;

    @media screen and (max-width: 480px) {
        max-width: 100%;
        grid-template-columns: 1fr;
    }
}