.section{
    max-width: 1089px;
    flex: 1;
    margin: auto;
    padding-top: 135px;
    gap: 36px;

    .article{
        max-width: 756px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image{
            width: 756px;
            height: 413px;
            border-radius: 9px;
            margin-bottom: 25px;
        }


    }

}