@use '../../styles/index' as index;

.section {
    width: 100%;
}

.embla {
    overflow: hidden;

    &__container {
        display: flex;
    }

    &__slide {
        display: flex;
        flex: 0 0 33%;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        min-width: 0;
        padding: 0 10px;

        @include index.tablet {
            flex: 0 0 50%;
        }

        @include index.small-tablet {
            flex: 0 0 100%;
        }
    }
}

.subtitle {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    @media screen and (max-width: 480px) {
        padding: 0;
    }

    .subtitle_container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        .subtitle_text {
            margin: 0;
            @include index.subheader_text();
            font-weight: 700;
        }

        .button {
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            padding: 0;
            gap: 4.41px;


            .icon_add {
                width: 15px;
                height: 15px;

                &:hover * {
                    fill: #161B22;
                    transition: all .3s;
                }
            }

            .button_text {
                color: index.$title_color;
                font-family: 'Roboto-Light';
                font-weight: 300;
                font-size: 1rem;
                line-height: 1.19rem;
                letter-spacing: 0%;
                margin: 0;
                text-decoration: none;

                &:hover {
                    color: #161B22;
                    transition: all .3s ease-in-out;
                    cursor: pointer;

                }
            }
        }
    }
}

.title {
    @include index.header_text();
    font-weight: 700;
    margin-bottom: 25px;

}

.content_container {
    --controls-offset: -10px;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    justify-content: center;

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;

        @media screen and (max-width: 480px) {
            display: none;
        }

        &_prev {
            left: var(--controls-offset);
        }

        &_next {
            right: var(--controls-offset);
        }
    }

    &:hover {
        .arrow {
            visibility: visible;
            opacity: 1;
        }
    }

    .content {
        flex: 1;
        border-radius: 14px;
        border: 1px solid #C9CDD0;
        background: #FFF;
        max-width: 1140px;
        min-height: 226px;
        max-height: 226px;
        padding: 24px;
        box-sizing: border-box;
        overflow: hidden;

        @media screen and (max-width: 480px) {
            padding: 27px 23px;
            max-width: 100%;
        }

        .content_list {
            display: block;
            max-width: 1140px;
            box-sizing: border-box;
        }
    }
}