@import '../../vendor/index.scss';


html {
    scrollbar-color: #e0e0e0;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }